<div class="repassword vh-100 d-flex justify-content-center align-items-center">
  <div class="modal-content" id="overlay">
    <label class="form-label text-white">New Password</label>
    <input [formControl]="forgotPassword" type="password" class="form-control" placeholder="Your New Password">
    <div *ngIf="forgotPassword.touched && forgotPassword.hasError('required')" class="p text-danger mt-1">
      Password is required.
    </div>
    <div *ngIf="forgotPassword.touched && forgotPassword.hasError('minlength')" class="p text-danger mt-1">
      Password must be at least 6 characters long.
    </div>
    <div *ngIf="forgotPassword.touched && forgotPassword.hasError('pattern')" class="p text-danger mt-1">
      Password must contain at least one lowercase letter, one uppercase letter, one digit, and one special character.
    </div>
    <button class="btn btn-primary btn-hover-secondary my-3" [disabled]="!forgotPassword.valid"
      (click)="setPassword()">Confirm</button>
  </div>
</div>

