.repassword {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../assets/images/yannis-h-uaPaEM7MiQQ-unsplash.jpg) center no-repeat;
  background-size: cover;
}

.modal-content {
  width: 500px;
}

#overlay {
  /*position: absolute;
  left: 0;
  top: 0;
  *//*width: 100%;
  */z-index: 1;
  background-color: rgba(209, 206, 209, 0.2);
  font-family: Inconsolata, monospace;
  font-size: 50px;
  text-align: center;
  line-height: 100px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  padding: 50px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
#overlay .p{
  font-size: 14px;
  line-height: 20px;
  text-align: start;
  margin-top: 10px !important;
  margin-left: 10px !important;
}
